
.create-list-container {
  display: flex;
  justify-content: flex-end;
  // margin-bottom: 20px;

}

.create-list-button {
  background-color: #f5c518; 
  border: none;
  border-radius: 999px;
  padding: 3px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: left;
  margin-right: 20px;
}

.create-list-button:hover {
  background-color: #e5b100;
}

.plus-icon {
  font-size: 24px;
  margin-right: 10px;
  font-weight: bold;
}

.button-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-text {
  font-size: 16px;
  font-weight: bold;
}

.sub-text {
  font-size: 12px;
  color: #333;
}

.watchlist-heading {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 5rem !important;
  margin-bottom: 1rem;
  color: #e1d7d7;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.anime{
  background-image: url('./anime-collage.jpg');
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
}


.watchlist-header {
  background: linear-gradient(to right, #827357,#111110b4, #0b0b0a, #23232380);
  position: relative;
  padding-top: 4rem;
 border-bottom: 1px solid #7876769d;

  .header-content {
    // max-width: 1400px;
    // margin: 0 auto;
    // margin-bottom: 3rem;
    display: flex;
    justify-content: flex-end; // this makes button align left
    align-items: center;
    padding: 2rem 1.5rem;
  }

  .floating-title {
    position: absolute;
    bottom: -2rem;
    left: 2rem;
    color: #e9e3e3;
    padding: 0.4rem 1.2rem;
    border-radius: 2rem;
    font-weight: 600;
    // background: #1a1a1a;
    font-family: 'Segoe UI', sans-serif;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .emoji {
      font-size: 2.8rem;
    }

    .watchlist-title {
      font-size: 1.3rem;
      margin: 0;
    }
  }
}

.watchlist-heading {
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.75rem;
  margin: 2rem 0 1rem;
}




.watchlist-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.category-card {
  flex: 1 1 30%;
  background: #1a1a1a;
  color: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .preview-thumbs {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 12px;

    img {
      height: 100px;
      border-radius: 6px;
      object-fit: cover;
    }
  }

  a {
    color: #facc15;
    font-weight: bold;
    text-decoration: none;
  }
}

