
<nav *ngIf="!hideNavbar" 
class="navbar fixed-top navbar-expand-lg navbar-dark scroll"
[ngClass]="{ 'scrolled': isScrolled, 'media-margin': isMediaPage }">
  <a class="navbar-brand logo" routerLink="home" style="color: #db0000; font-weight: bold;">MAIN</a>
  
  <button
  class="navbar-toggler"
  type="button"
  (click)="toggleNavbar()"
  [attr.aria-controls]="'collapsibleNavId'"
  [attr.aria-expanded]="!isCollapsed"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>




  
<div
[ngClass]="{
  'collapse': true,
  'navbar-collapse': true,
  'show': !isCollapsed,
  'justify-content-between': true
}"
id="collapsibleNavId"
>

      <!-- LEFT SIDE NAV -->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li *ngIf="showMenuItem" class="nav-item">
          <a class="nav-link" routerLinkActive="active"  routerLink="home">Home</a>
        </li>
        <li class="nav-item dropdown" *ngIf="showMenuItem">
          <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Movies</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/movies/now_playing/1">Now playing</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/movies/popular/1">Popular</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/movies/top_rated/1">Top Rated</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/movies/upcoming/1">Upcoming</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="showMenuItem">
          <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" routerLinkActive="active">TV Shows</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/tvshows/on_the_air/1">On Air</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/tvshows/popular/1">Popular</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/tvshows/top_rated/1">Top Rated</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/tvshows/airing_today/1">Airing Today</a>
          </div>
        </li>
        <li *ngIf="showMenuItem" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/people/1">People</a>
        </li>
      </ul>
  

<!-- RIGHT SIDE: Search & Social -->
    <ul class="navbar-nav ms-auto d-flex align-items-center">

      <li class="nav-item" *ngIf="showMenuItem && showSearch">
        <form class="form-inline my-2 my-lg-0" (submit)="redirectToSearch()">
          <div class="search-container">
            <input
              class="form-control"
              (keyup)="targetInfo($event)"
              type="text"
              placeholder="Search by word"
              name="searchInput"
            />
            <button type="submit" class="search-btn">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </form>
      </li>
    
      <li class="nav-item" *ngIf="showSearch">
        <a routerLink="/watchlist" class="nav-link text-danger font-weight-bold ms-3 d-flex align-items-center">
          <i class="fa fa-bookmark me-1"></i> Watchlist
        </a>
      </li>
    
      <li class="nav-item" *ngIf="isWelcomePage">
        <i class="fab fa-facebook ms-2"></i>
        <i class="fab fa-twitter ms-2"></i>
        <i class="fab fa-youtube ms-2"></i>
        <i class="fab fa-instagram ms-2"></i>
      </li>
    
      <li class="nav-item" *ngIf="!isWelcomePage">
        <div class="notification-bell">
          <i class="fas fa-bell"></i>
          <span class="notification-count">0</span>
        </div>
      </li>
    
    </ul>
    
</div>


</nav>
  