<header class="top-header"></header>

<!-- Dust particles background -->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>



<section class="welcome">
  <!-- Content -->
  <div class="welcome__content">
    <div class="welcome__message">
      <h1 class="welcome__title" style="color: aliceblue;">Welcome to CineWorld</h1>
      <span class="cinema">🎬</span>
      <p class="welcome__text" style="color: aliceblue; font-weight: bold;">Dive into the world of movies, TV shows and celebrities. Start exploring now!</p>
    </div>
    <div class="welcome__nav">
      <a routerLink="/home" style="background-color: #db0000; color: aliceblue; font-weight: bold;" class="welcome__link"></a>
    </div>
  </div>
  <!-- END Content -->
</section>

