<!-- <div class="poster position-relative overflow-hidden">
  <img
    class="w-100"
    [src]="'https://image.tmdb.org/t/p/original/' + item.poster_path"
    [alt]="item.title || item.name"
  />

  <div class="layer">
    <a class="bg-transparent" [routerLink]="routerLinkPath">
      <i class="fa text-dark fa-3x fa-play-circle" aria-hidden="true"></i>
    </a>
  </div>

  <div class="watchlist-icon watchlist-active" (click)="onRemove()">
    <i class="fa fa-bookmark bookmark-icon-inner"></i>
  </div>

  <h5 class="text-center mt-2">{{ item.title || item.name }}</h5>
</div> -->
